body {
  background-color: #e5e1cf;
}
.progress-wheel {
  background-color: rgb(241,239,232);
}
.App {
  text-align: center;
}
.title-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.front-text {
  margin-bottom: 0;
}
strong {
  margin-top: 0.5em;
}
.waterLevel {
  margin-top: 50px;
}
.sign-to-your-account {
  font-size: 24px;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}
.login-labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7px;
}
.inputbox {
  border: 1px solid #000; /* assuming black border color */
  padding: 1.5rem;
  width: 30%;
  border-radius: 1px;
  
}
.login-button {
  appearance: none;
  background-color:white;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  /* padding: 16px 22px; */
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  will-change: transform;
}

.login-button:disabled {
  pointer-events: none;
  opacity: 50%;
}

.login-button:hover {
  color: #fff;
  background-color: #1A1A1A;
  
  transform: translateY(-2px);
}

.login-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.account-div {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  padding: 4px;
}
.account-title {
  font-size: 2.1rem;
  font-weight: bold;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

/*<!-- HTML !-->
<button class="button-39" role="button">Button 39</button>*/

/* CSS */
.button-39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  width: 50%;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}
.button-39:disabled {
  background-color: #D1D5DB;
  cursor: default;
}

.wheel-number {
  font-family: 'DotGothic16';
  font-size: 20px;
  letter-spacing: .1rem;
}

.timer {
  font-family: 'DotGothic16';
  font-size: 30px;
  letter-spacing: .1rem;
}
.wheel-text{
  font-family: 'Helvetica';
  font-size:20px;
}